In [1]:
print("hello")

hello

# String

In [2]:
school = "Handelsakademin"
school #__repr__

'Handelsakademin'

In [3]:
type(school) #string: a list of tokens

str

In [4]:
len(school)

15

In [8]:
# comma, gives a tuple
school[0], school[-1]

('H', 'n')

In [10]:
#slicing
school[:7], school[3:7]

('Handels', 'dels')

In [12]:
#reverse list
school[::-1]

'nimedakaslednaH'

plus operator is polymorphic and is operator overloaded in different classes

In [13]:
#Concatenation - __add__() is implemented in str class
"NBI-" + school

'NBI-Handelsakademin'

In [14]:
5+5

10

## List

In [15]:
cool_list = ["fruit", 89, False, [1,2,3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [16]:
#concatenation
cool_list + [True,True,False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [18]:
cool_list + list((True, True, False))

['fruit', 89, False, [1, 2, 3], True, True, False]

In [20]:
# more pythonic code
# list comprehension

x = [i for i in range (10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
range(10)

range(0, 10)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]