In [1]:
print("hello")

hello

# String

In [2]:
school = "Handelsakademin"
school #__repr__

'Handelsakademin'

In [3]:
type(school) #string: a list of tokens

str

In [4]:
len(school)

15

In [8]:
# comma, gives a tuple
school[0], school[-1]

('H', 'n')

In [10]:
#slicing
school[:7], school[3:7]

('Handels', 'dels')

In [12]:
#reverse list
school[::-1]

'nimedakaslednaH'

plus operator is polymorphic and is operator overloaded in different classes

In [13]:
#Concatenation - __add__() is implemented in str class
"NBI-" + school

'NBI-Handelsakademin'

In [14]:
5+5

10

## List

In [15]:
cool_list = ["fruit", 89, False, [1,2,3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [16]:
#concatenation
cool_list + [True,True,False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [18]:
cool_list + list((True, True, False))

['fruit', 89, False, [1, 2, 3], True, True, False]

In [20]:
# more pythonic code
# list comprehension

x = [i for i in range (10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
range(10)

range(0, 10)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
[i for i in range (10) if i % 2]

[1, 3, 5, 7, 9]

In [31]:
x [5] = "kisch"
x

[0, 1, 2, 3, 4, 'kisch', 6, 7, 8, 9]

In [32]:
my_tuple = (2,5,3)
my_tuple

(2, 5, 3)

In [33]:
my_tuple[1]

5

In [28]:
#tupel are immutable
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

sets

In [36]:
set([6,6,2,3,1])

{1, 2, 3, 6}

dic
* key-value pairs

In [37]:
rabbit = {"name": "Bella", "age": 2.5, "loves_hay": True}
rabbit

{'name': 'Bella', 'age': 2.5, 'loves_hay': True}

In [38]:
rabbit["name"], rabbit["loves_hay"]

('Bella', True)

In [39]:
for key in rabbit:
    print(rabbit[key])

Bella
2.5
True

In [40]:
for key, value in rabbit.items():
    print(f"{key: <15} {value} ")

name            Bella
age             2.5
loves_hay       True

Functions

In [41]:
def squerer(number):
    return number **2
squerer(5)

25

In [42]:
tuple(squerer(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [43]:
#variaböe amount of parameters
def my_average(*numbers):
    sum = 0
    print(numbers)

my_average(1,2,3)

(1, 2, 3)

In [45]:
#*Args - "star args"
def my_average(*numbers):
    sum_ = 0
    for number in numbers:
        sum_+= number
    return sum_/len(numbers)

my_average(1,2,3)

2.0

In [46]:
x[5] = 5
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
my_average(x)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [48]:
my_average(*x)

4.5

# OOP

In [49]:
# defines a class (blueprint)
class Person:
    # dunder init 
    def __init__(self, name, age) -> None:
        self.name = name
        self.age = age
    
# instantiates an instance from the class Person with argument
p1 = Person("Ada Lovelace", 26)
p1

#dunder repr: __repr__()

In [50]:
hex(id(p1))

'0x1c14476a3d0'

In [52]:
p1.name, p1.age

('Ada Lovelace', 26)