# 0. Hire IT employee data
###  a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

###  b) Extract the second record in this dataset.

###   c) Extract all rows from this dataset and print it in this format

###   d) Find out the average salary in Hire IT.

### e) Find out the average salary among the HR department in Hire IT.

### f) Extract all records where the department is HR.

### g) Find all unique departments in this list.

## a)

In [2]:
Data = [
    {"employeeId": 0, "name": "Saga", "department": "Buisness", "salary": 32000},
    {"employeeId": 1, "name": "Ken", "department": "It", "salary": 41000},
    {"employeeId": 2, "name": "Saga", "department": "HR", "salary": 29000},
]

## b)

In [3]:
second_row = Data[1]
print(second_row)

{'employeeId': 1, 'name': 'Ken', 'department': 'It', 'salary': 41000}

## c)

In [6]:
all_rows =Data[:3]

for row in all_rows:
    print(row)

{'employeeId': 0, 'name': 'Saga', 'department': 'Buisness', 'salary': 32000}
{'employeeId': 1, 'name': 'Ken', 'department': 'It', 'salary': 41000}
{'employeeId': 2, 'name': 'Saga', 'department': 'HR', 'salary': 29000}