# 0. Supahcoolsoft employee data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/supahcoolsoft.csv")
df.head()

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
0,E001,Ann,Larsson,41,Product Management,AI Specialist,60777.0,ann.larsson@supacoolsoft.se,+46 (0)25 37 22 30
1,E002,Emma,Kim,52,Engineering,Database Administrator,46020.0,emma.kim@supacoolsoft.se,+46 (0)855 449 66
2,E003,Barbro,Andersson,59,DevOps,Data Scientist,48503.0,barbro.andersson@supacoolsoft.se,+46 (0)47 61 73 44
3,E004,Magnus,Söderström,52,Product Management,Junior Data Scientist,47296.0,magnus.söderström@supacoolsoft.se,+46 (0)258 579 26
4,E005,Therese,Ljungberg,46,Product Management,Junior Data Scientist,42435.0,therese.ljungberg@supacoolsoft.se,+46 (0)575 495 24

#  a) Do some initial EDA on this dataset. For example checking null values, look at some statistical properties.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   100 non-null    object
 1   FirstName    100 non-null    object
 2   LastName     100 non-null    object
 3   Age          100 non-null    int64
 4   Department   98 non-null     object
 5   Position     99 non-null     object
 6   Salary_SEK   99 non-null     float64
 7   Email        100 non-null    object
 8   PhoneNumber  100 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.2+ KB

In [4]:
df.head(
    
)

,EmployeeID,FirstName,LastName,Age,Department,Position,Salary_SEK,Email,PhoneNumber
0,E001,Ann,Larsson,41,Product Management,AI Specialist,60777.0,ann.larsson@supacoolsoft.se,+46 (0)25 37 22 30
1,E002,Emma,Kim,52,Engineering,Database Administrator,46020.0,emma.kim@supacoolsoft.se,+46 (0)855 449 66
2,E003,Barbro,Andersson,59,DevOps,Data Scientist,48503.0,barbro.andersson@supacoolsoft.se,+46 (0)47 61 73 44
3,E004,Magnus,Söderström,52,Product Management,Junior Data Scientist,47296.0,magnus.söderström@supacoolsoft.se,+46 (0)258 579 26
4,E005,Therese,Ljungberg,46,Product Management,Junior Data Scientist,42435.0,therese.ljungberg@supacoolsoft.se,+46 (0)575 495 24

In [5]:
df.isna().sum

<bound method DataFrame.sum of     EmployeeID  FirstName  LastName    Age  Department  Position  Salary_SEK  \
0        False      False     False  False       False     False       False
1        False      False     False  False       False     False       False
2        False      False     False  False       False     False       False
3        False      False     False  False       False     False       False
4        False      False     False  False       False     False       False
..         ...        ...       ...    ...         ...       ...         ...
95       False      False     False  False       False     False       False
96       False      False     False  False       False     False       False
97       False      False     False  False       False     False       False
98       False      False     False  False       False     False       False
99       False      False     False  False       False     False       False

    Email  PhoneNumber
0   False        False
1   False        False
2   False        False
3   False        False
4   False        False
..    ...          ...
95  False        False
96  False        False
97  False        False
98  False        False
99  False        False

[100 rows x 9 columns]>